Today we are going to cover the following topics:

variables

types

conditionals

loops

Variables & Types

“If you wanted a program to remember your age and your friend’s name, how would you store that in code?”

In [1]:
# Variables: containers for data, created by assignment (=).

age = 26
name = "Dush"

In [2]:
# Dynamic typing: Python figures out the type automatically.

x = 7
x = 7.8

Naming rules: letters, digits, underscores; can’t start with a digit; case sensitive.

Basic types (emphasize those useful in CP):

int (arbitrary precision)

float (rare in contests except geometry)

str

bool (True/False)

In [3]:
# Multiple assignment (common in contests when reading inputs)

a, b = 7, 8

In [4]:
# Type casting: converting a value from one data type to another.

int("123"), str(45), float(7), bool(0)

(123, '45', 7.0, False)

In [5]:
# Checking types (demo type()).

type(age)

int

In [9]:
# solve sum of two numbers i.e 7+8 = 15
# What do you think happens if i try a + "7"?

In [8]:
# Input is always string from input(), so you must convert:

n = int(input())

7

In [7]:
# Multiple inputs in one line (common in CP):

a, b = map(int, input().split())

In [10]:
# Spot/fix mistakes:

# 1st_num = 10
# second-num = 20
# print(1st_num + second-num)

Homework

Write a program that reads two integers and prints their sum, difference, and product. (Practice converting input strings to integers.)

Store your name and age in variables, then print:
My name is your own name and I am current age years old.

Try intentionally mixing types (like adding int + str). Note the error.

Conditionals

“Suppose you’re writing a program to check if someone can vote. If age ≥ 18 → Yes, else → No. How would you tell the computer to ‘decide’?”

In [12]:
# Basic if syntax (indentation required)

age1 = 26
if age >= 18:
  print("you're eligible to vote")

you're eligible to vote

In [13]:
# else branch

age1 = 26
if age >= 18:
  print("you're eligible to vote")
else:
  print("you're not eligible to vote")

you're eligible to vote

In [14]:
# elif (else if)

score = 85
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
else:
    print("C or lower")

B

Comparison operators: ==, !=, <, <=, >, >=.

Logical operators: and, or, not.

Boolean values: True, False.

In [15]:
# Python shorthand

result = "Even" if x % 2 == 0 else "Odd"

In [16]:
# checking even or odd
x = 7
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [17]:
# Combine conditions
n = 15
if n % 3 == 0 and n % 5 == 0:
    print("FizzBuzz")
elif n % 3 == 0:
    print("Fizz")
elif n % 5 == 0:
    print("Buzz")
else:
    print(n)

FizzBuzz

In [18]:
# try this question:

# What would the output be if n = 10?

Many problems boil down to checking conditions (e.g., “YES”/“NO” problems).

Example:

Input: 5

Output: Odd

Input: 8

Output: Even

Conditionals are the backbone of “decision-making problems” in Codeforces/AtCoder A-level.

In [19]:
# Fix this buggy code:

#num = int(input())
#if num % 2 = 0:
    #print("Even")
#else
    #print("Odd")

Homework

Write a program that takes an integer n and prints:

"Positive" if n > 0

"Negative" if n < 0

"Zero" if n == 0

Write a program that checks if a given year is a leap year.
(Rule: divisible by 400, or divisible by 4 but not by 100.)

Challenge: Given three integers, print the largest.

Loops (for / while)

“If you had to print numbers 1 to 100, would you rather write 100 print statements, or tell the computer to repeat a smaller block of code?”.

In [20]:
# for loop (with range)

for i in range(5):
    print(i)

0
1
2
3
4

range(start, stop, step).

Common in CP: for i in range(n):.

In [21]:
# while loop

n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

Loop control

break (exit loop early)

continue (skip to next iteration)

In [22]:
# Nested loops

for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [23]:
# Sum of first n natural numbers
n = int(input())
total = 0
for i in range(1, n+1):
    total += i
print("Sum =", total)

10
Sum = 55

In [25]:
# While loop example
x = 1
while x <= 10:
    if x % 2 == 0:
        print(x, "is even")
    x += 1

# What happens if we forget x += 1 in the while loop? (infinite loop)

2 is even
4 is even
6 is even
8 is even
10 is even

Loops are critical for:

Reading multiple test cases.

Iterating over arrays/lists.

Brute-force solutions (checking all possibilities).

In [26]:
t = int(input())
for _ in range(t):
    n = int(input())
    print("YES" if n % 2 == 0 else "NO")

7
8
YES
9
NO
4
YES
9
NO
3
NO
1
NO
2
YES

In [27]:
# Fix this code:

#for i in range(1, 10, -1):
    #print(i)

Homework

Print the multiplication table of a number n.
Example: 5 x 1 = 5 ... 5 x 10 = 50.

Write a program that calculates the factorial of n using a loop.

Challenge: Given a number n, check if it is prime (simple O(n) loop).